.register-page-left{
  background-color: #F97316;
  height:100vh;
  width:30%;
}
.text_started{
  padding-top:100px;

  margin-bottom: 50px;
  font-size:40px;
  color: #2F2E41;
  
}
.input_first{
  font-size: 20px;
}
.input-control {
  display: block;
  width: 40% !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius:12px;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.signup_btn{
 border: none;
 border-radius: 12px;
 background-color: #F97316;
 color: #fff;
 font-size: 16px;
 padding: 2px;
 margin-left: 50px;
}
.btn_row{
 
padding-left: 260px;
}
.first_name{
padding-top: 20px;
 padding-left:2px ;
 padding-bottom: 10px;
}
.last_name{
margin-left: 80px; 
font-size: 20px; 
padding:10px;

  

}


.div_or{
font-size: 24px;


}

.Email_name{
  
  padding-left:10px ; 
  padding-bottom: 10px;  
}
.text_input{
  margin-left: 120px;
  
}
.google_btn{
 
  background-color: #fff;
  border:1px solid #d8d1d1;
  padding:6px 24px;
  border-radius: 8px;
  font-size: 14px;

}
.google_icon{
  font-size: 24px;
  padding:12px;
}
.registerpage_img{
  padding-top: 100px;
 margin-left: 120px;
}
